<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Create account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-label position="stacked">Username <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input id="createUser" placeholder=" " required type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input id="createPass" placeholder=" " type="password"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">Confirm Password <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input id="passwordAuth" placeholder=" " type="password"></ion-input>
    </ion-item>

  <div class="ion-padding">
    <ion-button (click)="checkDetails()" expand="block" type="submit" class="ion-no-margin">Create account</ion-button>
  </div>

</ion-content>